* {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --darker-green: #6DCD8E;
    --lighter-green: #D4ECDD;
    --header-font-type: normal normal bold 7vh/15vh Segoe UI;
    --large-font-type: normal normal bold 11vh/12vh Segoe UI;
    --box-font-type: normal normal bold 3vh/0 Segoe UI;
    --normal-font: normal normal bold 3vh/3vh Segoe UI;
}
body {
    background-color: #112031;
    margin: 0;
    min-height: 100vh;
}
.margin-area {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.header {
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: right;
    overflow: hidden;
    width: 100%;
}
.page-selection {
    margin-right: 3%;
    display: flex;
}
.page-selection a {
    color: var(--darker-green);
    font: normal normal 600 3vh/6vh Segoe UI;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    padding: 0 2vh;
}
.page-selection a:hover {
    color: var(--lighter-green);
    text-decoration: underline var(--lighter-green) wavy;
    transform: translateY(-2%);
}
.summary-info {
    height: 75vh;
    margin-top: 20%;
}
.summary-info p {
    line-height: 11vh;
    margin-bottom: 4vh;
    margin-top: 4vh;
}
.main-name {
    color: var(--lighter-green);
    font: var(--large-font-type);
    justify-content: left;
    letter-spacing: 0;
}
.profession-title {
    color: var(--darker-green);
    font: var(--large-font-type);
    justify-content: left;
    letter-spacing: 0;
}

.projects-section{
    margin-top: 10%;
    margin-bottom: 5%;
}
.section-title {
    color: var(--darker-green);
    font: var(--header-font-type);
    letter-spacing: 0;
}
.about-me-section {
    margin-top: 20%;
}
.projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 0 1.5rem;
    position: relative;
    }

.project-box {
    background: var(--lighter-green) 0 0 no-repeat padding-box;
    box-shadow: 0 1vh 3vh #112031;
    border-radius: 7vh;
    display: flex;
    height: 56vh;
    flex-direction: column;
    width: 42vh;
    padding: 1.5rem;
    opacity: 1;
}

.project-box:hover {
    transform: translateY(-1vh);
}
.box-title {
    color: var(--darker-green);
    font: var(--box-font-type);
    letter-spacing: 0;
    margin-top: 5%;
    margin-left: 5%;
    opacity: 1;
    text-align: left;
    word-spacing: 0;
}
.box-header {
    height: 5vh;
    border-bottom: solid;
    border-bottom-color: var(--darker-green);
}

.project-about-box {
    background: var(--darker-green) 0 0 no-repeat padding-box;
    border-radius: 7vh;
    align-self: center;
    margin-top: 23vh;
    height: 19vh;
    width: 30vh;
    opacity: 1;
    padding: 7vh;
}
.about-me-items {
    display: flex;
    align-content: center;
    justify-content: left;
}
.noah-picture img {
    max-width: 50rem;
    max-height: 50rem;
    padding-right: 10rem;
    border-right-style: solid;
    border-right-color: var(--darker-green);
}

.about-me-text {
    padding-left: 12vh;
    font: var(--normal-font);
    color: var(--lighter-green);

}
.footer-area {
    margin-top: 10%;
    background-color: var(--darker-green);
    width: 100%;
}
.footer-items {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    height: 15vh;
}
.footer-items a {
    font: var(--normal-font);
    color: #112031;
    text-decoration: underline;
    text-decoration-color: #112031;
}
.footer-items a:hover {
    color: var(--lighter-green);
    text-decoration-color: var(--lighter-green);
}
.socials-item img:hover {
    transform: translateY(-3%);
}
.professional-link {
    display: grid;
    align-content: space-evenly;
}
.socials {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: repeat(2, 100px);
}
.socials-item img {
    height: 9vh;
    width: 9vh;
    padding-right: 2vh;
}
.socials a {
    text-decoration: none;
}