:root {
    --darker-green: #6DCD8E;
    --lighter-green: #D4ECDD;
    --header-font-type: normal normal bold 80px/106px Segoe UI;;
    --box-font-type: normal normal normal 25px/0px Segoe UI;;
}
body {
    background-color: #112031;
    margin: 0;
    min-height: 100vh;
}
.margin-area {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.header {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: right;
    overflow: hidden;
    width: 100%;
}
.summary-info p {
    line-height: 90px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.main-name {
    color: var(--lighter-green);
    font: var(--header-font-type);
    justify-content: left;
    letter-spacing: 0;
}
.profession-title {
    color: var(--darker-green);
    font: var(--header-font-type);
    justify-content: left;
    letter-spacing: 0;
}
.page-selection {
    margin-right: 4%;
}
.page-selection a {
    color: var(--darker-green);
    font: normal normal 600 25px/53px Segoe UI;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;
    padding: 0 15px;
}
.projects-section{
    margin-top: 20%;
    margin-bottom: 5%;
}
.section-title {
    color: var(--darker-green);
    font: var(--header-font-type);
    letter-spacing: 0;
}
.about-me-section {
    margin-top: 20%;
}
.projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 0 1.5rem;
    position: relative;
    }

.project-box {
    background: var(--lighter-green) 0 0 no-repeat padding-box;
    box-shadow: 0 4px 20px #112031;
    border-radius: 59px;
    display: flex;
    height: 450px;
    flex-direction: column;
    width: 340px;
    padding: 1.5rem;
    opacity: 1;
}

.project-box:hover {
    transform: translateY(-15px);
}
.box-title {
    color: var(--darker-green);
    font: var(--box-font-type);
    letter-spacing: 0;
    margin-top: 5%;
    margin-left: 5%;
    opacity: 1;
    text-align: left;
    word-spacing: 3px;
}
.box-header {
    height: 40px;
    border-bottom: solid;
    border-bottom-color: var(--darker-green);
}

.project-about-box {
    background: var(--darker-green) 0 0 no-repeat padding-box;
    border-radius: 59px;
    align-self: center;
    margin-top: 190px;
    height: 150px;
    width: 240px;
    opacity: 1;
    padding: 60px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    background-color: var(--darker-green);
}
.footer a {
    font: normal normal 600 25px/53px Segoe UI;
    color: var(--lighter-green);
    text-decoration: underline;
    text-decoration-color: var(--lighter-green);
}
.socials-item {
    text-align: right;
}
.professional-link a {
    display: grid;
}
.socials-item img {
    padding-top: 15px;
    height: 75px;
    width: 75px;
    padding-right: 14px;
    text-decoration: none;
}
.socials a {
    text-decoration: none;
}
.about-me-items {
    display: flex;
    align-content: center;
    justify-content: left;
}
.noah-picture img {
    width: 300px;
    height: 300px;
    padding-right: 100px;
    border-right-style: solid;
    border-right-color: var(--darker-green);
}

.about-me-text {
    padding-left: 100px;
    font-size: 25px;
    color: var(--lighter-green);

}