html, body, * {
    touch-action: manipulation;
}

* {
    box-sizing: border-box;
}
:root {
    --white: #FBFCFF;
    --raisin-black: #242325;
    --light-grey : #83838b;
    --dark-grey: #3a3a3c;
    --celtic-blue: #266DD3;
    --mint-green: #93FF96;
    --header-font: bold 30px Tahoma;
    --nav-font: bold 12px Tahoma;
    --footer-font: bold 22px/15px Tahoma;
    --letter-font: bold 45px Tahoma;
}

body {
    display: grid;
    grid-template-areas:
        "."
        "game"
        "keyboard"
        ".";
    margin: 0 0;
    height: 100vh;
    grid-template-rows: 100px 4fr 1fr 95px;
}
header {
    align-content: center;
    background-color: var(--raisin-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    position: absolute;
    width: 100%;
}
.home-nav {
    display: none;
}
.game-title{
    color: var(--white);
    justify-self: center;
    font: var(--header-font);
    grid-column: 2;
}
.game-interaction {
    align-items: center;
    display: flex;
    grid-column: 3;
    justify-content: end;
}
.help-question-mark {
    width: 5vh;
    height: 5vh;
    max-width: 60px;
    max-height: 60px;
    margin-right: 2vw;
    margin-bottom: 0;
}
.new-game {
    background-color: var(--white);
    border-radius: 2vh;
    color: var(--raisin-black);
    height: 60px;
    font: var(--nav-font);
    margin-right: 3vh;
    width: 100px;
}
.full-board-area {
    grid-area: game;
    display: flex;
    margin: 0 5vw;
    justify-content: center;
    align-items: center;
}
div#game-board:focus-visible {
    outline: none;
}
.game-area {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.row-1 { grid-row: 1;}
.row-2 { grid-row: 2;}
.row-3 { grid-row: 3;}
.row-4 { grid-row: 4;}
.row-5 { grid-row: 5;}
.row-6 { grid-row: 6;}
.row {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.pop-up-full {
    z-index: 10;
    color: white;
    border-radius: 30px;
    display: none;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    height: 400px;
    width: 500px;
    background-color: var(--raisin-black);
}
.pop-up-full p, h4, h2, h1, img {
    margin: 0 0;
    margin-bottom: 15px;
}
.pop-up-full img {
    width: 250px;
    margin-bottom: 0;
}
.answer-pop-up {
    display: none;
    z-index: 10;
    color: white;
    background-color: var(--raisin-black);
    border: solid 4px var(--raisin-black);
    border-radius: 4px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font: var(--header-font);
}
.first-line {
    display: flex;
    justify-content: space-between;
}
.letter {
    align-items: center;
    display: flex;
    border: solid var(--raisin-black);
    font: var(--letter-font);
    width: 10vh;
    height: 10vh; 
    max-width: 60px;
    max-height: 60px;
    justify-content: center;
}
footer {
    background-color: var(--raisin-black);
    bottom: 0;
    position: fixed;
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    height: 95px;
    margin: 0 0;
    padding-right: 3vh;
    padding-left: 3vh;
    width: 100%;
}
.professional-link {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    row-gap: 13px;
}
.professional-link a {
    color: var(--white);
    font: var(--footer-font);
    text-decoration: underline;
}
.professional-link a:hover {
    color: var(--mint-green);
}
.socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.socials a {
    text-decoration: none;
}
.socials img {
    height: 7.5vh;
    max-height: 60px;
    padding-right: 2vw;
    margin-bottom: 0;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
/* Keyboard */
.keyboard {
    align-self: center;
    display: block;
    grid-area: keyboard;
    bottom: 11vh;
    width: 100%;
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard__keys {
    text-align: center;
    bottom: 100px;
}

.keyboard__key {
    height: 4vh;
    min-height: 30px;
    max-height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: var(--light-grey);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: var(--dark-grey);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

@media only screen and (max-width: 500px) {
    :root {
        --header-font: bold 25px Tahoma;
        --home-font: bold 17px Tahoma;
        --letter-font: bold 25px Tahoma;
    }
    header {
        height: 70px;
        grid-template-columns: 1fr 2fr 2fr;
    } 
    header img {
        margin: 0;
    }

    .game-title {
        font-size: 19px;
    }
    .letter {
        height: 6vh;
        width: 6vh;
    }
    .home-nav {
        align-self: center;
        justify-self: center;
        color: var(--white);
        font: var(--home-font);
        display: flex;
        grid-column: 1;
        text-decoration: none;
    }
    .keyboard__key.keyboard__key--wide {
        width: 49px;
    }
    body {
        height: 90vh;
        grid-template-areas:
        "."
        "game"
        "keyboard"
    }
    footer {
        display: none;
    }
    .keyboard {
        align-self: flex-end;
        bottom: 2vh;
    }
    .keyboard__keys {
        bottom: 0;
        margin-bottom: 1vh;
    }
    .full-board-area {
        margin-bottom: 0;
    }
    .keyboard__key {
        height: 15vw;
        width: 8%;
    }
    .new-game {
        margin-right: 2vw;
        width: 90px;
        font-size: 17px;

    }
    .help-question-mark {
        width: 4vh;
        height: 4vh;
        margin-right: 2vw;
    }
    .game-area {
        margin-top: 1vh;
        margin-bottom: 0;
    }
    .pop-up-full {
        z-index: 10;
        color: white;
        border-radius: 30px;
        display: none;
        margin-top: 20vh;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 25px;
        height: 450px;
        width: 350px;
        background-color: var(--raisin-black);
    }
    .pop-up-full p, h4, h2, h1, img {
        margin: 0 0;
        margin-bottom: 15px;
    }
    .pop-up-full img {
        width: 250px;
        margin-bottom: 0;
    }
}