* {
    box-sizing: border-box;
}
:root {
    --white: #FBFCFF;
    --raisin-black: #242325;
    --celtic-blue: #266DD3;
    --mint-green: #93FF96;
    --header-font: bold 30px Tahoma;
    --nav-font: bold 12px Tahoma;
    --footer-font: bold 22px/15px Tahoma;
    --letter-font: bold 50px Tahoma;
}
body {
    margin: 0 0;
}
header {
    align-content: center;
    background-color: var(--raisin-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8vh;
    position: absolute;
    width: 100%;
}
.game-title{
    color: var(--white);
    justify-self: center;
    font: var(--header-font);
    grid-column: 2;
}
.game-interaction {
    align-items: center;
    display: flex;
    grid-column: 3;
    justify-content: end;
}
.help-question-mark {
    width: 5vh;
    height: 5vh;
    margin-right: 2vw;
}
.new-game {
    background-color: var(--white);
    border-radius: 2vh;
    color: var(--raisin-black);
    height: 4vh;
    font: var(--nav-font);
    margin-right: 3vh;
    width: 100px;
}
.full-board-area {
    display: flex;
    padding-top: 12vh;
    margin: 0 5vw;
    margin-bottom: 10vh;
    justify-content: center;
}
.game-area {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 5vh;
}
.row-1 { grid-row: 1;}
.row-2 { grid-row: 2;}
.row-3 { grid-row: 3;}
.row-4 { grid-row: 4;}
.row-5 { grid-row: 5;}
.row-6 { grid-row: 6;}
.row {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.letter {
    align-items: center;
    display: flex;
    border: solid var(--raisin-black);
    font: var(--letter-font);
    width: 75px;
    height: 75px;
    justify-content: center;
}
footer {
    background-color: var(--raisin-black);
    bottom: 0;
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    height: 10vh;
    margin: 0 0;
    padding-right: 3vh;
    padding-left: 3vh;
    position: fixed;
    width: 100%;
}
.professional-link {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    row-gap: 13px;
}
.professional-link a {
    color: var(--white);
    font: var(--footer-font);
    text-decoration: underline;
}
.professional-link a:hover {
    color: var(--mint-green);
}
.socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.socials a {
    text-decoration: none;
}
.socials img {
    height: 7.5vh;
    max-height: 75px;
    padding-right: 2vw;
}