* {
    box-sizing: border-box;
}
:root {
    --white: #FBFCFF;
    --raisin-black: #242325;
    --celtic-blue: #266DD3;
    --red-pig: #ED1C24;
    --mint-green: #93FF96;
    --header-font: bold 30px Tahoma;
    --nav-font: bold 12px Tahoma;
    --footer-font: bold 22px/15px Tahoma;
}
body {
    margin: 0 0;
}
header {
    align-items: center;
    background-color: var(--raisin-black);
    display: flex;
    height: 8vh;
    position: absolute;
    width: 100%;
    justify-content: center;
}
header a {
    color: var(--white);
    font: var(--header-font);
    text-decoration: none;
    margin-right: 2vw;
}
header a:hover {
    color: var(--mint-green);
}
.main-picture {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 12vh;
    margin-bottom: 5vh;
}
.main-picture img {
    height: 43.48vw;
    max-height: 585.8px;
    width: 50vw;
    max-width: 674px;
}

footer {
    background-color: var(--raisin-black);
    bottom: 0;
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    height: 10vh;
    margin: 0 0;
    padding-right: 3vh;
    padding-left: 3vh;
    position: fixed;
    width: 100%;
}
.professional-link {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    row-gap: 13px;
}
.professional-link a {
    color: var(--white);
    font: var(--footer-font);
    text-decoration: underline;
}
.professional-link a:hover {
    color: var(--mint-green);
}
.socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.socials a {
    text-decoration: none;
}
.socials img {
    height: 7.5vh;
    max-height: 75px;
    padding-right: 2vw;
}