* {
    box-sizing: border-box;
}
:root {
    --white: #FBFCFF;
    --raisin-black: #242325;
    --dark-grey: #3a3a3c;
    --celtic-blue: #266DD3;
    --mint-green: #93FF96;
    --header-font: bold 30px Tahoma;
    --nav-font: bold 12px Tahoma;
    --footer-font: bold 22px/15px Tahoma;
    --letter-font: bold 50px Tahoma;
}
body {
    display: grid;
    grid-template-areas:
        "game"
        "keyboard";
    margin: 0 0;
}
header {
    align-content: center;
    background-color: var(--raisin-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8vh;
    position: absolute;
    width: 100%;
}
.home-nav {
    display: none;
}
.game-title{
    color: var(--white);
    justify-self: center;
    font: var(--header-font);
    grid-column: 2;
}
.game-interaction {
    align-items: center;
    display: flex;
    grid-column: 3;
    justify-content: end;
}
.help-question-mark {
    width: 5vh;
    height: 5vh;
    margin-right: 2vw;
}
.new-game {
    background-color: var(--white);
    border-radius: 2vh;
    color: var(--raisin-black);
    height: 4vh;
    font: var(--nav-font);
    margin-right: 3vh;
    width: 100px;
}
.full-board-area {
    grid-area: game;
    display: flex;
    padding-top: 12vh;
    margin: 0 5vw;
    margin-bottom: 10vh;
    justify-content: center;
}
div#game-board:focus-visible {
    outline: none;
}
.game-area {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-bottom: 5vh;
}
.row-1 { grid-row: 1;}
.row-2 { grid-row: 2;}
.row-3 { grid-row: 3;}
.row-4 { grid-row: 4;}
.row-5 { grid-row: 5;}
.row-6 { grid-row: 6;}
.row {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.letter {
    align-items: center;
    display: flex;
    border: solid var(--raisin-black);
    font: var(--letter-font);
    width: 60px;
    height: 60px;
    justify-content: center;
}
footer {
    background-color: var(--raisin-black);
    bottom: 0;
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    height: 95px;
    margin: 0 0;
    padding-right: 3vh;
    padding-left: 3vh;
    width: 100%;
}
.professional-link {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    row-gap: 13px;
}
.professional-link a {
    color: var(--white);
    font: var(--footer-font);
    text-decoration: underline;
}
.professional-link a:hover {
    color: var(--mint-green);
}
.socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.socials a {
    text-decoration: none;
}
.socials img {
    height: 7.5vh;
    max-height: 75px;
    padding-right: 2vw;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
/* Keyboard */
.keyboard {
    grid-area: keyboard;
    left: 0;
    bottom: 11vh;
    width: 100%;
    padding: 5px 0;
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard__keys {
    text-align: center;
    margin-bottom: 5vh;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: var(--dark-grey);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: var(--raisin-black);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

@media only screen and (max-width: 500px) {
    :root {
        --header-font: bold 25px Tahoma;
        --home-font: bold 20px Tahoma;

    }
    .home-nav {
        align-self: center;
        color: var(--white);
        font: var(--home-font);
        margin-left: 10vw;
        display: flex;
        grid-column: 1;
        text-decoration: none;
    }
    .keyboard__key.keyboard__key--wide {
        width: 49px;
    }
    body {
        height: 100vh;
    }
    footer {
        display: none;
    }
    .keyboard {
        align-self: flex-end;
        bottom: 2vh;
    }
    .keyboard__keys {
        margin-bottom: 1vh;
    }
    .full-board-area {
        margin-bottom: 0;
    }
    .keyboard__key {
        height: 15vw;
        width: 8%;
    }
    .new-game {
        margin-right: 4vw;
        width: 75px;
    }
    .help-question-mark {
        width: 4vh;
        height: 4vh;
        margin-right: 2vw;
    }
}